---
import Layout from "../../layouts/Layout.astro";
import DashboardApp from "../../islands/DashboardApp";
import RequireAuth from "../../islands/RequireAuth";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
---

<Layout pageTitle="Tableau de Bord">
  <RequireAuth url={Astro.url} client:load>
    <div class='w-full h-full justify-center flex flex-col'>
      <div class="w-fit mb-10 mt-4 mx-auto flex flex-col">
        <h2 class="text-white text-5xl font-serif font-bold">Tableau de board</h2>
        <hr class="bg-white w-full h-1"/>
      </div>
      <DashboardApp lang={lang} client:load />
    </div>
  </RequireAuth>
</Layout>
