---
import Layout from "../../../layouts/Layout.astro";
import RequireAuth from "../../../islands/RequireAuth";
import PreviousAnnouncementList from "../../../islands/PreviousAnnouncementList";
---

<Layout pageTitle="Previous Announcements">
  <RequireAuth url={Astro.url} client:load>
    <div class="w-full h-full justify-center flex flex-col items-center">
      <div class="w-fit mb-10 mt-4 mx-auto flex flex-col">
        <h2 class="text-white text-5xl font-serif font-bold">Previous Announcements</h2>
        <hr class="bg-white w-full h-1" />
      </div>
      <div>
        <PreviousAnnouncementList client:load />
      </div>
    </div>
  </RequireAuth>
</Layout>
