---
import { getLangFromUrl } from '../i18n/utils';
import NavBar from '../islands/NavBar';
import '../styles/global.css';

const { pageTitle } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Libriq</title>
	</head>
	<body class="bg-gray-950">
    <NavBar lang={lang} url={Astro.url} client:load />
    <slot />
	</body>
</html>
